.buttonFilter {
  display: inline-flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  background: var(--Secondary, #ECEEF2);
}

.buttonLine {
  display: inline-flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.4375rem;

  border-radius: 0.5rem;
  border: 1px solid var(--Border, #E1E1E1);
  background: var(--Background, #FFF);
}

.exportHover:hover {
  cursor: pointer;
  border-radius: 0.5rem;
  background: var(--Secondary);
  color: var(--Primary, #5B21B6);
  font-weight: 500;
}

.inputDate {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  padding: 5px;
  width: 11.25rem;
  height: 2.25rem;
  padding: Infinitypx 0 0 Infinitypx;
  /* align-items: flex-start; */

  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: #F3F3F5;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.barraDivisor {
  width: 0.0625rem;
  /* height: 2.5rem; */
  flex-shrink: 0;
  background: #E1E1E1;
}

.selectFiltro {
  display: flex;
  height: 2.25rem;
  padding: 0.125rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  border-radius: 1rem;
  background: var(--Secondary, #ECEEF2);
  color: var(--Primary);
}