.infoRecaudos {
  display: flex;
  width: 75rem;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.tituloRecaudo {
  color: var(--Color-texto-principal, #313A4E);
  font-family: Manrope;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.625rem;
  /* 150% */
}

.parrafoRecaudo {
  color: var(--Font-Secondary, #717182);

  /* Parrafo */
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
}