/* Oculta scrollbar pero mantiene el scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.textoType {
  color: var(--Color-texto-principal, #313A4E);
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
}